
.img-subs{
    max-width: 250px;
}


@media (max-width:320px) {
    .main-container{
        width:250px
    }
    .msg-container{
        display:none;
        width: 30%;
    }

    .form-container{
        width: 70vw;
    }
    .img-subs{
        width: 100px !important;
    }
}

@media (max-width:768px) {
    .form-container{
        width: 40vw;
    }
}